/node_modules
/.nrepl-port
/*-init.clj
/.lein-repl-history
/*.log
/target/
/resources/public/js/
/resources/public/images/plugins/
/resources/public/css/plugins/
/resources/public/node_modules/
/resources/public/main.js
/resources/public/npm-debug.log
/resources/public/package.json
/Chrysalis-*/

*~
.#*