@import 'plugins/page/repl.css';
@import 'plugins/devices/devices.css';
@import 'plugins/firmware/firmware.css';

#application { margin-top: 5rem; }

.chrysalis-link-button {
    color: #292b2c;
}

.navbar-brand:hover i {
    animation: fa-spin 2s infinite linear;
}
